body {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 1.2;
	color: rgb(26, 26, 26);
}

.uppercase {
	text-transform: uppercase;
}

.header {
	background-color: #f9f8fb;
}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	max-width: 1200px;
	min-height: 100vh;
	background-image: url(../img/Hero-img.jpg);
	/*background-position: bottom 0px right -100px;*/
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__head {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.logo__text {
	font-family: 'Pacifico', 'Comic Sans MS', cursive;
	font-size: 50px;
	margin: 0;
}

.nav__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
}

.nav__list--item {
	margin-right: 25px;
	border-top: solid 3px transparent;
}

.nav__list--link {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: rgb(26, 26, 26);
}

.nav__list--item:last-child {
	margin-right: 0px;
}

.nav__list--item:hover {
	border-top: solid 3px #ff6033;
}

.hero__content {
	margin-top: 20vh;
	margin-bottom: 30vh;
	width: 370px;
}

.hero__content--title {
	margin: 0 0 30px 0;
	font-size: 60px;
}

.hero__content--text {
	margin: 0 0 30px 0;
	font-size: 17px;
	line-height: 1.588;
}

.hero__content--btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 20px 25px;
	background-color: rgb(255, 96, 51);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 255, 255);
}