.content-btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 15px 0;
	min-width: 200px;
	min-height: 55px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	font-size: 20px;
	color: $white-text;
	text-align: center;
	text-transform: uppercase;
	
	&:active {
		transform: scale(0.9);
	}

	&--orange {
	background-color: #ff6033;

		&:hover {
			background-color: lighten(#ff6033, 5%);
		}
	}

	&--blue {
	background-color: #5585a2;

		&:hover {
			background-color: lighten(#5585a2, 5%);
		}
	}

	&--subscribe {
		min-width: 170px;
		background-color: #96b92c;
		border: none;

		&:hover {
			background-color: lighten(#96b92c, 5%);
		}
	}

	&--red {
	background-color: #f72b3b;

		&:hover {
			background-color: lighten(#f72b3b, 5%);
		}
	}
}