.scroll-btn {
	background-image: url(../img/scroll.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	width: 26px;
	height: 48px;
	font-size: 0;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 1;
		transform: scale(0.9);
	}
}